/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	margin: 0 auto;
	z-index: 1;
	max-width: 1140px;
	font-family: 'Work Sans';
	font-size: 14px;
	
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

/* filtres */
.onclickClicked {
	background-color: #1D6154;
	color: white;
}


.colorFilters {
	color: #1D6154;
	background-color: white;
}

.filters {
	display: flex;
	justify-content: center;
	gap: 2em;
	margin-bottom: 4em;
	margin-top: 4em;
}

.styleFilters{
	border: 1px solid#1D6154;
	font-size: 18px;
	padding: 8px 25px 8px 25px;
	border-radius: 20px;
	font-family: 'Syne';
	cursor: pointer;

}



h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
cursor: pointer;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav li a{
	text-decoration: none;
color: black;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery div {
	display: block;
	display: flex;
	flex-direction: column-reverse;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* PAGE LOGIN -> */
.show{
	visibility: visible;
	transition: all 0.4s ;
}
.hidden{
	visibility: hidden;
}
.loginPage{
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
    background: #E5E5E5;
    position: fixed;
    width: 100%;
    height: 100%;
	z-index: 1000;
}

/* head */
.head{
    width: 87%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 30px 100px 0 150px;
    align-items: center;
}
.logo{
    display: flex;
    flex-direction: column;
    width: 10%;
}
.sophieLogo{
    height: 28px;
}
.textLogo{
    height: 12px
    ;
}
.navUL {
    display: flex;
    font-size: 1.2em;
    gap: 3em;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
}
.navUL  a{
    color: #000000;
    text-decoration: none;
}
.navUL a:hover{
	color: #B1663C;
}
/* main / login */
.login{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    margin-top: 12em;
    height: 500px;
   align-items: center;
}
.login img{
    height: 36px;
    width: 10%;
}
/* inputs */
.mail, .connect, .footer{
    font-family: 'Work Sans', sans-serif;
}
.mail form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.mail form label{
    margin-top: 2em;
}
input[type='email'], 
input[type='password']{
    border-radius: 8px;
    font-size: 18px;
    padding: 10px;
border: 0;
box-shadow: #141414a4 4px 4px 6px ;
height: 51px;
    width: 379px;
}
/* bouton se connecter et mdp oublié */

.button a{
    color: #000000;

}

.connect{
    margin-top: 3em;
    padding: 15px 60px 15px 60px;
    background-color: #1D6154;
    color: white;
    font-size: 14px;
    border-radius: 30px;
    font-weight: bold;
    border: 0;
}
/* footer */
.footer{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: white;
    position:fixed;
    bottom: 1px;
    padding: 1px 10em 1px 1px ;
    align-items: center;
font-size: 14px;
}
.footer p{
	position: absolute;
	right: 18em;
}

